html {
    position:relative;
    overflow:auto;
}

body {
    background:#f2f2f2;
}


#navbar {
    border-bottom:1px solid black;
    font-family:Baskerville Bold;
}

.navbar-brand {
padding-top:5px;
padding-bottom:6%;
}

#seal {
    width:60px;
    height:60px;
}

@media screen and (min-width: 0px) and (max-width: 414px) {
    #desktop-title {
      display:none;
    }
}

#info-icon{
 padding-top:15%;
}

@media screen and (min-width: 0px) and (max-width: 667px) {
    #info-icon {
     padding-top:30px;
    }
}

@media screen and (min-width: 0px) and (max-width: 414px) {
    #intro-text {
      font-size:1.4em;
      line-height:90%;
    }
}

.floor {
    padding-left:5%;
    padding-right:5%;
}

.sorter-title{
    font-family:Arial;
    font-size:1.1em;
}

.sorters {
    margin-bottom:2%;
    padding-left:5%;
}

.form-control {
    width:90%;
}

#intro-text{
    font-size:1.4em;
    padding:1%;
    text-align:center;
    font-family:Helvetica Neue;
    font-weight:200;
}

.outline{
    border:1px solid #d9d9d9;
    border-radius:5px;
    padding:2% 0 2% 2%;
}

.box{             
    width:70px;
    height:70px;
    display:inline-block;
    text-align:center;
    font-size:0.6em;
    margin:2px;
    color:white;
    background:gray;
    border-radius:10px;
    box-shadow: 3px 3px 3px #888888;
}

#issues{
    float:top;
}

.overlay{
    opacity:0.3;
}


.visible-pic {
    width:60px;
    height:60px;
    padding-top:5px;
}

.visible-pic:hover{
    width:61px;
    height:61px;
}

.hidden {
  display:none !important;
}


#about, #hidden-seat{           
    border:1px solid #d9d9d9;
    box-shadow: 3px 3px 3px #888888;
    z-index:3000;
    position:fixed;
    top:10%;
    height:560px;
    background:white;
    border-radius:5px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:3%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.2);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media screen and (min-width: 415px) and (max-width: 2000px) {
    #incumbent-header {
      font-size:1.5em;
    }
}

@media screen and (min-width: 0px) and (max-width: 414px) {
    #hidden-seat {
      top:5%;
      height:450px;
    }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
    #hidden-seat {
      top:5%;
      height:300px;
    }
}

@media screen and (min-width: 0px) and (max-width: 414px) {
    .rotate {
      display:none;
    }
}

@media screen and (min-width: 415px) and (max-width: 2000px) {
    .rotate-phone {
      display:none;
    }
}

.rotate-phone{
  margin-left:10px;
  width:40px;
  height:40px;
}


/*@media screen and (min-width: 0px) and (max-width: 414px) {
    #hidden-seat {
     left:10%;
     width:80%;
    }
}*/

@media screen and (min-width: 0px) and (max-width: 414px) {
    table {
      zoom:0.9;
    }
}


.hidden-pic{
    float:left;
    width:108px;
    height:130px;
    margin:7px 7px 0px 0px;
}

i {
    float:right;
}

.box-closer {
    float:right;
}

/*#other-candidates{
    margin-top:20px;
}*/

#incumbent-text {
    padding-bottom:5px;
}

table {
    margin-left:10px;
}

#about {
        display:none;
        font-family: Arial;
        position:absolute;
        z-index: 1002;
}

#about-header {
    border-bottom:1px solid #d9d9d9;
    text-align:center;
    padding-bottom:10px;
    font-family:Baskerville Bold;
}

#about-text {
        font-family:Helvetica Thin, sans-serif;
        font-weight:300;
        font-size:1.2em;
        padding:5%;
}

footer {
    text-align:center;
}

#sources {
    padding-top:10px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
  float:left;
  padding:10px;
}

footer li+li {
    border-left:1px solid #d9d9d9;
}

footer ul li a {
  display:inline-block;
}

@media screen and (min-width: 0px) and (max-width: 414px) {
    .footer-nav {
      zoom:0.8;
    }
}
