html {
    position:relative;
}

.box{
    width:70px;
    height:70px;
    display:inline-block;
    text-align:center;
    font-size:0.6em;
    margin:2px;
    color:white;
    background:gray;
    border-radius:10px;
}

#floor{
    background:#cccccc;
    padding-top:10%;
}

.overlay{
    opacity:0.3;
}

img {
    width:60px;
    height:60px;
    padding-top:5px;
}

nav {
    font-family:Helvetica Neue Thin, sans-serif;
}

.hidden {
  display:none !important;
}


#hidden-seat{
    z-index:1000;
    position:absolute;
    top:20%;
    left:20%;
    width:40%;
    height:40%;
    padding:5%;
    background:#f2f2f2;
    border-radius:5px;
}

i {
    float:right;
}