html {
    position:relative;
}

body {
    background:#f2f2f2;
}

#navbar {
    border-bottom:1px solid black;
}

.navbar-brand {
padding-top:0;
padding-bottom:6%;
}

@media screen and (min-width: 0px) and (max-width: 414px) {
    #desktop-title {
      display:none;
    }
}

#info-icon{
 padding-top:30%;
}

@media screen and (min-width: 0px) and (max-width: 414px) {
    #info-icon {
     padding-top:30px;
    }
}

.floor {
    padding-left:5%;
    padding-right:5%;
}

.sorters {
    margin-bottom:2%;
    padding-left:5%;
}

.form-control {
    width:90%;
}

#intro-text{
    font-size:1.4em;
    padding:1%;
    text-align:center;
    font-family:Helvetica Neue;
    font-weight:300;
}

.outline{
    border:1px solid #d9d9d9;
    border-radius:5px;
    padding:2% 0 2% 2%;
}

.box{
    width:70px;
    height:70px;
    display:inline-block;
    text-align:center;
    font-size:0.6em;
    margin:2px;
    color:white;
    background:gray;
    border-radius:10px;
    box-shadow: 3px 3px 3px #888888;
}


#issues{
    float:top;
}

.overlay{
    opacity:0.3;
}


img {
    width:60px;
    height:60px;
    padding-top:5px;
}

.hidden {
  display:none !important;
}


#hidden-seat{
    z-index:1000;
    position:absolute;
    top:20%;
    left:30%;
    width:50%;
    height:400px;
    background:white;
    border-radius:5px;
    overflow-y:scroll;
}

.hidden-pic{
    float:left;
    width:100px;
    height:100px;
    margin:7px 7px 0px 0px;
}

i {
    float:right;
}

.box-closer {
    float:right;
}

#other-candidates{
    margin-left:15px;
}

#about {
        display:none;
        width:50%;
        height:40%;
        background:#2d5986;
        color:white;
        font-family: Arial;
        position:absolute;
        z-index: 1002;
        margin-left:10%;
        margin-top:10%;
}

.info-title-box {
     border-bottom:1px solid white;
     text-align:center;
}


#about-text {
        color:white;
        font-family:Helvetica Thin, sans-serif;
        font-weight:300;
        padding:5%;
}

footer ul {
    list-style-type: none;
}

footer ul li {
  float:left;
  padding:10px;
}

footer ul li a {
  display:inline-block;
}
